# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/index.html#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml

variables:
  NugetExe: $CI_PROJECT_DIR\buildtools\nuget\nuget.exe

stages:          # List of stages for jobs, and their order of execution
  - initialize
  - build
  - package
  - deploy
  - release

before_script:
  - '& $CI_PROJECT_DIR\CM\scripts\setup.ps1'

generate_version:
  stage: initialize
  script:
    - '& $CI_PROJECT_DIR\CM\scripts\generate_version.ps1'
    - '& $CI_PROJECT_DIR\CM\scripts\update_assembly_version.ps1'
  artifacts:
    paths:
      - version.txt
      - buildnumber.txt
      - CM/Version/assemblyversion.props
    expire_in: 1 day
    reports:
      dotenv: variables.env
      
global_variables:
  stage: initialize
  needs:
    - job: generate_version
  script:
    - '& $CI_PROJECT_DIR\cm\setvariables.bat force globalvars.env'
  artifacts:
    reports:
      dotenv: globalvars.env
  
build-job:       # This job runs in the build stage, which runs first.
  stage: build
  needs:
    - job: generate_version
      artifacts: true 
    - job: global_variables
      artifacts: true
  script:
    - echo "Configure Nuget Source..."
    - '& $CI_PROJECT_DIR\CM\scripts\configure_nuget.ps1'
    - echo "Compiling the code..."
    - '& $CI_PROJECT_DIR\CM\BuildProjects.bat'
    - echo "Compile complete."
  artifacts:
    paths:
      - $buildDir/
    expire_in: 1 day
 
nuget-dev-packages:
  stage: package
  needs:
    - job: generate_version
      artifacts: true
    - job: build-job
      artifacts: true
    - job: global_variables
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: on_success
  script:
    - echo "Creating Dev Packages"
    - echo "Static Version $STATIC_VERSION"
    - echo "CI_COMMIT_BRANCH $CI_COMMIT_BRANCH"
    - echo "CI_BUILD_NUMBER $CI_BUILD_NUMBER"
    - echo "BuildReleaseDir $buildReleaseDir"
    - echo "NugetDir $nugetDir"
    - New-Item -ItemType Directory -Force -Path $nugetDir
    - '& $CI_PROJECT_DIR\cm\Nuget\GeneratePackage.bat $STATIC_VERSION-$CI_COMMIT_BRANCH.$CI_BUILD_NUMBER $buildReleaseDir $nugetDir\lumberjack.nuspec'
    - '& $NugetExe pack $nugetDir\lumberjack.nuspec -OutputDirectory $nugetDir'
  artifacts:
    paths:
      - $nugetDir/
    expire_in: 1 day

nuget-release-packages:
  stage: package
  needs:
    - job: generate_version
      artifacts: true
    - job: build-job
      artifacts: true
    - job: global_variables
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Creating Release Packages"
    - echo "STATIC_VERSION $STATIC_VERSION"
    - echo "BuildReleaseDir $buildReleaseDir"
    - echo "NugetDir $nugetDir"
    - New-Item -ItemType Directory -Force -Path $nugetDir
    - '& $CI_PROJECT_DIR\cm\Nuget\GeneratePackage.bat $STATIC_VERSION $buildReleaseDir $nugetDir\lumberjack.nuspec'
    - '& $NugetExe pack $nugetDir\lumberjack.nuspec -OutputDirectory $nugetDir'
  artifacts:
    paths:
      - $nugetDir/
    expire_in: 1 day

deploy-dev-package:      # This job runs in the deploy stage.
  stage: deploy 
  needs:
    - job: generate_version
      artifacts: true 
    - job: nuget-dev-packages
      artifacts: true
    - job: global_variables
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$UploadRepo && $UploadRepoToken'
  script:
    - echo "Deploying to Package Store..."
    - '& $NugetExe push $nugetDir\*.nupkg -Source $UploadRepo -ApiKey $UploadRepoToken'
    - echo "Application successfully deployed."
    
deploy-release-package:      
  stage: deploy 
  needs:
    - job: generate_version
      artifacts: true 
    - job: nuget-release-packages
      artifacts: true
    - job: global_variables
      artifacts: true
  rules:
    - if: '$UploadRepo && $UploadRepoToken && $CI_COMMIT_TAG'
  script:
    - echo "Deploying to Package Store..."
    - '& $NugetExe push $nugetDir\*.nupkg -Source $UploadRepo -ApiKey $UploadRepoToken'
    - echo "Application successfully deployed."

deploy-droplocation:
  stage: deploy
  needs:
    - job: generate_version
      artifacts: true 
    - job: build-job
      artifacts: true
    - job: global_variables
      artifacts: true
  rules:
    - if: '$DropLocationRoot'
  script:
    - echo "Run Publish Script"
    - '& $CI_PROJECT_DIR\CM\PublishProjects.bat'
    - echo "CI_BUILD_VERSION $CI_BUILD_VERSION"
    - $FinalDropLocation = "{0}\{1}\{2}\{3}_{4}" -f $DropLocationRoot, $CI_PROJECT_NAME, $CI_COMMIT_BRANCH, $CI_BUILD_VERSION, $CI_PIPELINE_ID
    - echo "Publish Directory $publishDir"
    - echo "Deploying to $FinalDropLocation"
    - 'robocopy /e /s "$publishDir" "$FinalDropLocation"; if ($lastexitcode -le 2) { $global:LASTEXITCODE = $null }'

release_job:
  stage: release
  needs:
    - job: generate_version
      artifacts: true 
    - job: build-job
      artifacts: true
    - job: nuget-release-packages
      artifacts: true
    - job: global_variables
      artifacts: true
  rules:
    - if: $CI_COMMIT_TAG 
  script:
    - echo Create Release
    - '& $CI_PROJECT_DIR\CM\scripts\release_script.ps1'
    - echo Publish Repository to GitHub
    - '& $CI_PROJECT_DIR\CM\scripts\release_publish_repo.ps1'
    - echo Publish packages to Nuget
    - '& $CI_PROJECT_DIR\CM\scripts\release_publish_packages.ps1'
    
